.body 
    {
        overflow: hidden; 
    }
#cliente
    {
        border-left:  20px solid transparent;
        border-bottom: 10px solid transparent;
    }
#login
    {
        border-left: 26px solid transparent;
    }
#lupa
    {
        border-left: 10px solid transparent;
    }