.body 
    {
        overflow: hidden; 
    }
#cliente
    {

        border-right: 50px solid;
    }
#login
    {
        padding: 0;
        border-right: 60px solid;
    }
#lupa
    {
        border-left: 10px solid;
    }
.top
    {
        border-top: 15px solid;
    }