.borda {
    background-color:rgb(252, 227, 188); /* define a cor do fundo */
    border: solid; /* coloca uma borda sólida */
    border-color: #eba44e; /* define a cor da borda */
    margin: 0; /* remove a margem */
    min-height: 100vh; /* define a altura mínima */
    box-sizing: border-box; /* inclui a borda e preenchimento dentro da largura e altura especificadas */
    box-shadow: inset 0 0 1000px rgb(206, 149, 64); /* adiciona uma sombra interna */
}
.fundo
    {
        background-color: rgba(70, 69, 69, 0.719);
    }
table
    {
      border-radius: 30px;
      border: 2px solid black;  
    }
tr, td, th
    {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid black; 
    }
.body 
    {
        overflow: hidden; 
    }
