/*==================
        Telas
==================*/
.body{
    padding: 0;
    margin: 0;
}
.categorias{
    display: flex;
    align-items: center;
    justify-content: center;
}
.categorias div{
    border: 5px solid transparent;
}
.produtos{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
}
.itens{
    
}
/*==================
        Inicio
==================*/

