.body 
    {
        background-color: rgb(247, 247, 247);
        margin: 0;
    }
.input
    {
        border-radius: 7px;
        border: 1px solid #ff0000;
    }
#cliente
    {
        border-right: 20px solid transparent;
    }
#login
    {
        border-left: 10px solid transparent;
    }
#lupa
    {
        border-left: 10px solid transparent;
    }