.borda {
    background-color: #FFFACD; /* define a cor do fundo */
    border: solid; /* coloca uma borda sólida */
    border-color: #c7a900ec; /* define a cor da borda */
    margin: 0; /* remove a margem */
    min-height: 100vh; /* define a altura mínima */
    box-sizing: border-box; /* inclui a borda e preenchimento dentro da largura e altura especificadas */
    box-shadow: inset 0 0 1000px #cab602; /* adiciona uma sombra interna */
}
table
    {
      border-radius: 30px;  
    }
tr, td, th
    {
        border-top: none;
        border-left: none;
        border-right: none;
    }
body {
  overflow: hidden; 
}
